@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/* Container for the carousel */
.carouselContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center items horizontally */
    align-content: center;
}

/* Wrapper for individual projects */
.projectWrapper {
    display: flex;
    justify-content: center; /* Center project horizontally */
    transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
}

/* Hover effects for the project wrapper */
.projectWrapper:hover {
    transform: scale(1.05); /* Slightly enlarge the element */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Add a shadow */
    filter: brightness(1.2); /* Increase brightness */
    border: 2px solid rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
}

/* Media query for screens smaller than 600px */
@media screen and (max-width: 600px) {
    .carouselContainer {
        flex-direction: column; /* Display items vertically */
    }
}

/* Custom styling for the arrows */
.slick-prev,
.slick-next {
    z-index: 10; /* Ensure arrows are on top */
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    border-radius: 50%; /* Make the arrows circular */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Make the arrows white */
    position: absolute; /* Positioning arrows absolutely within the container */
    top: 50%; /* Vertically center the arrows */
    transform: translateY(-50%); /* Adjust for perfect centering */
}

/* Arrow hover effects */
.slick-prev:hover,
.slick-next:hover {
    background-color: rgba(0, 0, 0, 0.7); /* Darker on hover */
    cursor: pointer;
}

/* Position the left arrow */
.slick-prev {
    left: -25px; /* Move the left arrow outside the main container */
}

/* Position the right arrow */
.slick-next {
    right: -25px; /* Move the right arrow outside the main container */
}

/* Arrow hover effects for better interactability */
.slick-prev:hover,
.slick-next:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Slightly darker on hover */
}
